
body {
    font-family: 'Segoe UI', sans-serif;
}

.sidebar {
    width: 240px;
    background-color: #0d3b66 !important;
    min-height: 100vh;
}

.sidebar .list-group-item {
    background-color: #0d3b66;
    color: #faf3dd;
    border: none;
}

.sidebar .list-group-item:hover {
    background-color: #f4d35e;
    color: #0d3b66;
    font-weight: bold;
}

#main-content {
    min-height: 100vh;
}
